@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat',sans-serif ;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Hero Section*/
.hero{
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.hero .hero-info{
    width: 100%;
    text-align: center;
}
.hero .hero-info .hero-info-heading{
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
}
.hero .hero-info .hero-info-subheading{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing:  .1rem;
    color: whitesmoke;
}
.hero .hero-info .hero-info-button{
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: rgba(85,85,85,0.534);
}
/*End Hero Section*/
/*Hakkında Section*/
.hakkında{
    width: 100%;
    min-width: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
}
.hakkında .hakkında-info{
    text-align: center;
}
.hakkında .hakkında-info .hakkında-info-heading{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;

}
.hakkında .hakkında-info .hakkında-info-desc{
    font-size: 1.3;
    line-height: 2rem;
    margin-top: 10px;  
}
.hakkında .hakkında-info .hakkında-info-button{
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.549);
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 20px;
}

 
/*End Hakkında Section*/
