@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
   margin: 0;
   padding: 0px;
}

.sidebar{
    position: absolute;
    background-color: rgb(223, 218, 218);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    
}
.sidebar nav{
    padding: 80px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    color: black;

}

.sidebar nav li a {
   text-decoration: none;
   color: black;
}

.main{
   background-color: whitesmoke;
   width: 90vw; 
}

.container{
    display: flex;
}

.infoContainer{
    
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}


.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(45, 45, 141);
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover{
    background-color: white;
    color: rgb(45, 45, 141);
}



.iletişimform{
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 88px;
}

.iletişimform h1{
    font-family: 'Source Code Pro', monospace;
    /*padding: 12px 0;*/
  
}

.iletişimform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.iletişimform form div Input{
    /*width: 26vw;*/
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.iletişimform form{
   margin: 0 4 0px;
}

.loginform{
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 100px;
    
}


#emailHelp{
    font-size: 10px;
    color: black;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
 flex-direction: row;
}

#form-check input{
width: 24px;
margin: 3px 0;
}

.istanbulItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
    
}

h1{
    font-family: 'Fira Sans', sans-serif; 
    margin: 23px;
}

p{
    font-family: 'Source Code Pro', monospace;
}

h2{
    font-family: 'Fira Sans', sans-serif; 
}

.istanbul{
   
    margin: 0 88px;
}

.özgeçmiş{
    margin: 88px;
}
.özgeçmiş h2{
    font-family: 'Fira Sans', sans-serif; 
    margin: 12px;
}

.özgeçmiş p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.hobiContainer{
    padding: 12px;

}

.hobiItem{
   display: flex; 
   align-items: center;
   font-family: 'Source Code Pro', monospace;
   font-weight: 900;
}
.hobi{
    
    width: 23px;
    height: 23px;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute ;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
   margin-left: 185px; 
   margin-top: 10px;
}

@media (max-width: 1615px) {
    *{
    /* background-color: white; */
    .buttons{
        font-size: 6px;
    }

    .devInfo{
        font-size: 10px;
    }

   /*.devPic{
    display: none;
   } */

   .özgeçmiş, .istanbulContainer, .iletişimform{
    margin: 50px;
   }
}}